/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background: #333;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

nav a:hover {
    background: #575757;
    border-radius: 5px;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

/* Table des matières */
.toc {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.toc h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.toc ul {
    list-style-type: none;
    padding: 0;
}

.toc ul li {
    margin: 5px 0;
}

.toc ul li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

.toc ul li a:hover {
    text-decoration: underline;
}
